.forecast-card{
  width: 165px;
  transition: all 2s ease;
}

.forecast-card:hover{
  transform: scale(1.20);

}

.bg-custom{
  background-color: rgb(69, 111, 249);
}

body{
  overflow-x: hidden;
}

.footer {
  background-color: #343a40;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 10px 0px 10px; 
  
}
